/*
 * BASIC STYLES
 */

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  cursor: default;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.app {
  color: #FAFAFA; /* grey50 */
  font-family: BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

.app.is-win32 {
  font-family: 'Segoe UI', sans-serif;
}

#body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  width: 100%;
  height: 100%;
  animation: fadein 0.5s;
}
/* 
.app:not(.is-focused) {
  background: rgb(40, 40, 40);
} */

/*
 * UTILITY CLASSES
 */

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/**
 * Use this class on Material UI components to get correct native app behavior:
 *
 * - Dragging the button should NOT drag the entire app window
 * - The cursor should be default, not a pointer (hand) like on the web
 */

.control {
  -webkit-app-region: no-drag;
  cursor: default !important;
}

/**
 * Sidebar
 */
.sidebar {
  float: left;
  overflow-x: hidden;
}
.sidebar .button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin: 35px 10px 5px 20px;
  align-items: center;
  justify-content: center;
}
.sidebar .button-wrapper > * {
  width: 25px;
  height: 25px;
  margin-right: 20%;
  background-size: cover !important;
}
.sidebar .add-source {
  background: url('plus-circle.svg');
}
.sidebar .setting {
  background: url('settings.svg');
}

.tree {
  position: relative;
  width: 300px;
  margin-top: 15px;
  font-weight: 200;
}



/**
 * Content
 */
.content {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/**
 * Artist Masthead
 */
.artist-masthead {
  position: relative;
  width: 100%;
  height: 280px;
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat;
}
.artist-masthead .overlay {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  background-image: url('masthead-overlay.png');
  background-size: 100% 100%;
  background-position: bottom;
}
.artist-masthead .artist-info {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.artist-masthead .avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.artist-masthead .avatar img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.artist-masthead .text {
  display: inline-block;
  vertical-align: middle;
}

/**
 * Gallery
 */
.gallery {
  width: 100%;
}
.gallery .artworks-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.gallery .artwork {
  position: relative;
}
.gallery .artwork:hover > .overlay {
  opacity: 1;
}
.gallery .artwork:hover > .title {
  opacity: 1;
}
.gallery .artwork img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  /* vertical-align: middle; */
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}
.gallery .artwork .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('thumbnail-overlay.png');
  background-size: cover;
  opacity: 0;
  transition: opacity ease-in-out .25s;
}
.gallery .artwork .title {
  position: absolute;
  left: 20px;
  bottom: 10px;
  opacity: 0;
  transition: opacity ease-in-out .25s;
}
@media screen and (min-width: 0px) {
  .artwork {
    width: 33.333333%;
    padding-top: 33.333333%; /* Padding-top: A trick to set height equal to width  */
  }
}
@media screen and (min-width: 880px) {
  .artwork {
    width: 25%;
    padding-top: 25%;
  }
}
@media screen and (min-width: 1100px) {
  .artwork {
    width: 20%;
    padding-top: 20%;
  }
}


/**
 * Add Artist Page
 */
.add-artist {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.add-artist .search {
  position: relative;
  height: 37px;
  width: 250px;
  border: 2px solid rgba(245, 245, 241, 0.1);
  border-radius: 37px;
  padding: 0 10px;
  transition: border .25s ease;
}
.add-artist .search:hover {
  border: 2px solid #e50914;
}
.add-artist .search input::-webkit-search-cancel-button {
  display: none;
}
.add-artist .search input {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  height: 100%;
  border: none;
  background: transparent;
  appearance: none;
  outline: none;
}
.add-artist .search .open-folder {
  cursor: pointer;
  position: absolute;
  right: 7px;
  width: 18px;
  height: 18px;
  background: url('folder.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.search-results {
  position: relative;
  align-items: center;
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
}
.search-results .artist-info {
  justify-content: center;
}
.search-results .avatar img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

/**
 * Viewer
 */
.viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
}
.viewer.hidden {
  display: none;
}

.viewer .viewer-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.viewer .viewer-wrapper.single {
  overflow-y: hidden;
}
.viewer .viewer-wrapper:hover > .arrow {
  visibility: visible;
  opacity: 1;
}
.viewer .viewer-wrapper .artwork-images {
  width: 100%;
  height: 100%;
  text-align: center;
}
.viewer .artwork-images .image {
  width: 100%;
  margin-bottom: 1em;
}
.viewer .single .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.viewer .artwork-images img {
  max-width: 100%;
  max-height: 100vh;
  z-index: -1;
}
.viewer .viewer-wrapper .arrow {
  cursor: pointer;
  visibility: hidden;
  position: fixed;
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: all .2s ease-in-out;
  z-index: 5;
}
.viewer .viewer-wrapper .arrow-previous {
  left: 20px;
  background-image: url('chevron-left.svg');
  background-position: 40% 50%;
}
.viewer .viewer-wrapper .arrow-next {
  right: 20px;
  background-image: url('chevron-right.svg');
}

.viewer .close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-image: url('x.svg');
}