.rc-tree {
  position: relative;
  margin: 0;
  padding: 0;
  color: white;
}
.rc-tree .parent-node .rc-tree-title {
  font-size: 20px;
}
.rc-tree .leaf-node .rc-tree-title {
  font-size: 15px;
}
.rc-tree li {
  list-style: none;
  white-space: nowrap;
}
.rc-tree li .draggable {
  cursor: default;
  user-select: none;
}
.rc-tree li.drag-over > .draggable {
  border: 1px white dashed;
  opacity: 0.8;
}
.rc-tree li.drag-over-gap-top > .draggable {
  border-top: 2px white dashed;
}
.rc-tree li.drag-over-gap-bottom > .draggable {
  border-bottom: 2px white dashed;
}
.rc-tree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.rc-tree li .rc-tree-node-content-wrapper {
  cursor: default;
  display: inline-block;
  padding: 1px 3px 0 0;
  margin: 0;
  text-decoration: none;
  vertical-align: top;
}
.rc-tree li span.rc-tree-switcher
.rc-tree li span.rc-tree-iconEle {
  display: none; 
}
.rc-tree-child-tree {
  display: none;
}
.rc-tree-child-tree-open {
  display: block;
}
